<hr/>
<div class="span8 offset1">
   <a href="http://www.ands.org.au/"><img id="ands-logo" src="http://www.ands.org.au/assets/images/ands-full-b.png" style="border: 1px solid gray; float:left; display:block;margin:.5em;"></a>
   &nbsp;<br/>This project is supported by the Australian National Data Service (ANDS). ANDS is supported by the
   Australian Government through the National Collaborative Research Infrastructure Strategy Program and 
   the Education Investment Fund (EIF) Super Science Initiative.
</div>
<div class="span8 offset1">
   <a rel="license" href="http://creativecommons.org/licenses/by/3.0/au/"><img alt="Creative Commons License" id="cc-logo" src="http://i.creativecommons.org/l/by/3.0/au/88x31.png" style="display:block;float:left;margin:.5em;"></a>
   This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">site</span> by 
   <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.intersect.org.au" property="cc:attributionName" rel="cc:attributionURL">Intersect</a> and the 
   <a xmlns:cc="http://creativecommongs.org/ns#" href="http://www.ramaciotti.unsw.edu.au/" property="cc:attributionName" rel="cc:attributionURL">Ramaciotti Centre</a>,
   <a href="http://www.unsw.edu.au">University of New South Wales</a> is licensed under a 
   <a rel="license" href="http://creativecommons.org/licenses/by/3.0/au/">Creative Commons Attribution 3.0 Australia License</a>. &copy; {{ site.time | date: "%Y" }}
   <i>(Powered by <a href="http://octopress.org">Octopress</a>)</i>
</div>
